$gray: #ccc;
$mobile-bp : 600px;

.playlist--list { 
  overflow-y: scroll;
  border: 1px solid $gray;
  border-left: none;
  height: 340px;
	list-style: none;
	padding: 0;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: .95;
	color: #565D64;
  display: inline-block;
  float: right;
  margin: 0;
  width: calc(100% - 343px);
  @media (max-width: $mobile-bp) {
    display: block;
    width: 340px;
    float: none;  
    border: 1px solid $gray;
    border-top: 0;
  } 
	li {
		margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #222;
		padding: 0;
		cursor: pointer;
		padding: 20px 10px;
		background: #ffffff;
		border-bottom: 1px solid $gray;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background-color: #3498db;
			color: #ffffff;
		}
		&.active {
			background-color: #CCDADE;
			color: #565D64;
		}
    span {
      pointer-events: none;
    }
    .artist {
      display:block;
      font-weight: normal;
      margin-top: 5px;
      color: #666;
      font-size: 18px;
    }
	}
}

.plyr {
  display: inline-block;
  .plyr__controls {
    background-size: cover !important;
    height: 342px;
    width: 342px;
    background: rgba(0,0,255,0.4);
    display: inline-block;
    border: 1px solid $gray;
    border-right: 0;
    @media (max-width: $mobile-bp) {
      border: 1px solid $gray;
    }
    .plyr__time--current {
      color: #999;
    }
    [data-plyr="play"] {
      display: block;
      margin: 140px auto 0;
      svg {
        fill: white;
      }
    }
    [data-plyr="pause"] {
      margin: 140px auto 0;
      svg {
        fill: #999;
      }
      &:hover {
        svg {
          fill: white;
        }
      }
    }
    .plyr__progress {
      position: relative;
      bottom: -115px;
      margin: 0;
    }
    .plyr__time {
      position: relative;
      bottom: -115px;
    }
    
    [data-plyr="mute"] {
      position: relative;
      bottom: -115px;
      fill: #ccc;
    }
    
    .plyr__volume {
      display: inline-block;
      position: relative;
      bottom: -115px;
      max-width: 55px;
    }
  }
}

.plyr--playing {
  [data-plyr="play"] {
    display: none !important;
  }
  [data-plyr="pause"] {
    display: block !important;
    // margin-top: -32px !important;
  }
}

.plyr--stopped {
  .plyr__progress, .plyr__time, [data-plyr="mute"], .plyr__volume {
    display: none !important
  }
}

.playlist {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,0.3);
  @media (max-width: $mobile-bp) {
    width: auto;
  }
}

section {
  width: 100%;
  @media (max-width: $mobile-bp) {
    width: 342px;
    margin: 0 auto;
  }
}

section:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

main {
  width:80%;
  margin: 0 auto;
}

body { margin: 0; background: #f94f4c;}