body {
    background: #000303;
    margin: 0;
}

.logo-container {
    position: absolute;
    background: #020001;
    width: 1000px;
    height: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.behind {
    position: absolute;
    background: #ecbe98;
    width: 804px;
    height: 160px;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    transition: top 1s ease;
}

.player {
    position: absolute;
    background: #71ddb9;
    width: 844px;
    height: 210px;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.568);
}

.player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    z-index: 2;
}

.circle {
    position: absolute;
    width: 230px;
    height: 230px;
    left: 13%;
    top: 34%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.smallcircle {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    background-color: #ecbe98;
}

.player__timelineBar {
    background: #E7E7E7;
    width: 460px;
    height: 7px;
    top: 60%;
    left: 40%;
    border-radius: 15px;
    margin-top: 13px;
    position: absolute;
}

.player__timelineBar #playhead {
    position: absolute;
    border-radius: 15px;
    width: 0px;
    height: 7px;
    background: #000000;
    animation: increaseWidth 10s linear infinite;
    z-index: 2;
}

.player__author b {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 320px;
    top: 20px;
}

.dir {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 320px;
    top: 3px;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid;
    transform: rotate(90deg);
    border-radius: 5px;
    left: 65px;
    top: -190px;
    color: #0c0a0b;
}

.square {
    position: absolute;
    background: #00000000;
    width: 300px;
    height: 125px;
    left: 415px;
    top: 39px;
    border-radius: 15px;
    transition: 1s ease;
    z-index: 2;
}

.go {
    color: #070606;
    font-size: 65px;
    font-weight: bold;
    position: relative;
    left: 160px;
    top: -50px;
}

.square:hover {
    transform: scale(1.2);
    background: black;
}

.square:hover .go {
    color: #E7E7E7;
}

.square:hover .triangle {
    color: #E7E7E7;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle.rotate {
    animation: rotate 10s linear infinite;
}

@keyframes increaseWidth {
    from {
        width: 0px;
    }

    to {
        width: 470px;
    }
}