* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #ecbe98;
    display: grid;
    place-items: center;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.623) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
    opacity: 0;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 30%;
        height: 90%;
        top: 50px;
        left: 100px;
        transform: none;
        border-radius: 5%;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 40%;
        opacity: 1;
        height: 55%;
        width: 19%;
        border-radius: 5%;
        z-index: 100;
    }

    &:nth-child(4) {
        left: calc(50% + 220px);
        opacity: 1;
        border-radius: 5%;
        z-index: 80;
    }

    &:nth-child(5) {
        left: calc(50% + 445px);
        height: 15%;
        width: 5%;
        opacity: 1;
        border-radius: 5%;
        z-index: 70;
    }

    &:nth-child(6) {
        left: calc(45% + 660px);
        opacity: 1;
        height: 8%;
        width: 3%;
        border-radius: 5%;
        z-index: 60;
    }
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 1s ease-in-out 0.1s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.item {

    &:nth-child(6) {
        /* Properties for the 6th and 7th children */
        animation: fadeIn 1s ease-in-out forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid rgba(0, 0, 0, 0.6);
    padding: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-size: cover;
    background-position: center;
}

.prev {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>');
}

.next {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>');
}

.btn:hover {
    transform: scale(1.3);
}

.addItemButton {
    position: relative;
    background-color: black;
    left: 750px;
    top: -225px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 100;
    transition: transform 0.3s ease;
}

.plus {
    color: #fcf9fb;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
}

.addItemButton:hover {
    transform: scale(1.5);

    .plus {
        color: #000000;
    }

    background: rgba(0, 0, 0, 0);
}

.form {
    position: absolute;
    background-color: #000000;
    left: 50%;
    top: 50%;
    height: 600px;
    width: 500px;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 5%;
    z-index: 150;
}

.form label {
    position: relative;
    display: block;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 47px;
    margin-bottom: 10px;
    color: #3ac8f3;
    /* Change the color here */
}

.form input[type="file"] {
    position: relative;
    margin-left: 47px;
}

.form input[type="text"] {
    position: relative;
    width: 80%;
    height: 50px;
    padding: 10px;
    margin-left: 47px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;

}

.form button {
    padding: 10px 30px;
    position: relative;
    top: 70px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 30px;
    top: 230px;
    left: 60px;
}

.form .cancel {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    margin-left: 30px;
    transition: transform 0.3s ease;
}

.form .submit {
    background-color: #0098c7;
    color: #fff;
    font-weight: bold;
    margin-left: 13px;
    transition: transform 0.3s ease;
}

.form .cancel:hover,
.form .submit:hover {
    transform: scale(1.1);
}


@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
        }
    }
}