body {
    font-family: Arial, sans-serif;
    color: #faf8f8;
    text-align: center;
    padding: 20px;
    background-image: url("https://i.pinimg.com/originals/73/a5/b6/73a5b68f824c17e9a742e3642b320c69.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#playlist {
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    max-height: 200px;
}

#playlist div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#playlist div:hover {
    background-color: #ecbe98;
    font-weight: bold;
    color: black;
}

#playlist .current {
    background-color: #ecbe98;
    font-weight: bold;
    color: #020000;
}

video {
    width: 100%;
    margin-top: 20px;
}

.container {
    position: relative;
    background-color: #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 1200px;
    left: 300px;
}

#waveform {
    width: 100%;
    height: 100px;
    background-color: #000000;
    margin-bottom: 20px;
}

button {
    background-color: #ecbe98;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.volume-control {
    position: relative;
    left: 400px;
    top: -60px;
}

.vol {
    position: relative;
    top: 20px;
    left: -130px
}

.sp {
    position: relative;
    top: -50px;
}

.load {
    position: relative;
    top: -30px;
}

button:hover {
    transform: scale(1.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}