<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playback Speed Control</title>
</head>
<body>

    <form id="musicForm" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="musicFile" id="musicFile" multiple>
        <button type="submit">Upload</button>
    </form>
    <hr>
    <form id="songs" action="/songs" method="get" enctype="multipart/form-data">
        <button type="submit">Print Songs</button>
    </form>

    <h1>Playback Speed Control</h1>
    <audio id="myAudio" controls>
        <source src="mixkit-arcade-retro-game-over-213.wav" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div>
        <label for="speed">Speed:</label>
        <input type="range" id="speed" min="0.5" max="2" step="0.1" value="1" onchange="changeSpeed()">
    </div>
    
    <script>
        let audio = document.getElementById("myAudio");
        let speedControl = document.getElementById("speed");

        function changeSpeed() {
            audio.playbackRate = speedControl.value;
        }
    </script>
</body>
</html>
